.card {
    background: rgba(5, 219, 162, 0.811);
    backdrop-filter: blur(2px);
    margin-top: 10px;
    padding: 20px;
  }
  #name {
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(#e02626, #08763d);
    background-clip: text;  
    -webkit-text-fill-color: transparent;
  }
  #status {
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(#f66363, #08763d);
  background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #description {
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(#f66363, #08763d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
